<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=file.name %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <h1>FILE UPLOADER</h1>
    </a>
  </div>
  <div class="main">
    <h2><%=file.name %></h2>
    <p>Size : <%=file.size %> B</p>
    <p>Date Uploaded : <%=file.uploadedAt %></p>
  </div>
  <div class="footer"></div>
</body>

</html>