<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="main">
    <form class="logInForm" action="/log-in" method="post">
      
      <div>
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password">
        <%- include("partials/logInErrors.ejs") %>
      </div>
      <button>LOG IN</button>
    </form>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>