<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header">
    <a href="/"><h1>FILE UPLOADER</h1></a>
  </div>
  <div class="main">
    <form action="/sign-up" method="post">
      <%- include("partials/signUpErrors.ejs") %>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2">
      </div>
      <button>Sign Up</button>
    </form>
  </div>
  <div class="footer"></div>
</body>

</html>