@font-face {
  font-family: "Lexend";
  src: url(fonts/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
  font-family: "RammettoOne";
  src: url(fonts/RammettoOne-Regular.ttf);
}

@font-face {
  font-family: "Neuton";
  src: url(fonts/Neuton-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-color: rgb(20, 55, 88);
  height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-family: "RammettoOne", sans-serif;
}

.header .logo a {
  color: rgb(255, 142, 14);
  text-decoration: none;
}

.header .nav {
  display: flex;
  flex-direction: row;
  gap:30px;
  align-items: center;
}

.header .nav a {
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  border: 1px solid rgb(215, 225, 225);
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(215, 225, 225);
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.header .nav a:hover {
  cursor: pointer;
  background-color: rgb(215, 225, 225);
  color: rgb(20, 55, 88);
}

/* MAIN */

.main {
  flex: 1;
  background-color: rgb(215, 225, 225);
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HOME PAGE */

.main .notLogged {
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/bg.jpg);
  background-size:cover;
  position: relative;
}

.main .quoteContainer {
  align-self: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 10px;
}

.main .photoref {
  position: absolute;
  bottom: -30px;
  right:0px;
  font-family: "Lexend", sans-serif;
  padding: 5px;
  color: black;
  font-size: 14px;
}

.main .photoref a{
  color: rgb(20, 55, 88);
}

.main .quote {
  font-family: "Neuton", serif;
  color: rgb(20, 55, 88);
  font-size: 40px;
  text-align: center;
}

.main .quoter {
  font-family: "Lexend", sans-serif;
  color: rgb(20, 55, 88);
  align-self: flex-end;
  padding-right: 20px;
}

.main .dashboard {
  font-family: "Lexend", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.main .dashboard .welcome {
  font-family: "Lexend", sans-serif;
  font-weight: normal;
}

.main .dashboard .newfolder {
  background-color: white;
  padding: 20px 20px 30px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .dashboard .newfolder h3 {
  font-family: "Lexend", sans-serif;
  color: rgb(20, 55, 88);
  font-size: 22px;
}

.main .dashboard .newfolder > div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap:10px;
}

.main .dashboard .newfolder input {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 2px 5px;
  width: 300px;
}

.main .dashboard .newfolder button {
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 10px;
  background-color: rgb(20, 55, 88);
  color:  rgb(215, 225, 225);
  border: none;
}

.main .dashboard .newfolder button:hover {
  cursor: pointer;
  background-color: rgb(5, 40, 73);
}

.main .dashboard .newfolder .folderNameError {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 13px;
}

.main .dashboard .folderList {
  font-family: "SourceSans3", sans-serif;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .dashboard .folderList h3{
  font-family: "Lexend", sans-serif;
  color: rgb(20, 55, 88);
  font-size: 22px;
}

.main .dashboard .folderList .folderContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none
}

.main .dashboard .folderList .folder {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main .dashboard .folderList .folder a {
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(20, 55, 88);
  color:  rgb(215, 225, 225);
  padding: 10px 20px 10px 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Lexend", sans-serif;
}

.main .dashboard .folderList img {
  width: 25px;
  height: auto;
  filter: invert(1);
  position: absolute;
  left: 20px;
  bottom: 23%;
}

.main .dashboard hr {
  margin-top: -5px;
  margin-bottom: 10px;
}

/* FOLDER PAGE */

.main .folderPage {
  font-family: "Lexend", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .folderPage .fileUpload {
  background-color: white;
  padding: 20px 20px 30px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .folderPage .fileUpload h3 {
  font-family: "Lexend", sans-serif;
  color: rgb(20, 55, 88);
  font-size: 22px;
}

.main .folderPage .fileUpload > div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  position: relative;
}

.main .folderPage .fileUpload input {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 300px;
}

.main .folderPage .fileUpload input::-webkit-file-upload-button {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.main .folderPage .fileUpload button {
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 10px;
  background-color: rgb(20, 55, 88);
  color:  rgb(215, 225, 225);
  border: none;
}

.main .folderPage .fileUpload button:hover {
  cursor: pointer;
  background-color: rgb(5, 40, 73);
}

.main .folderPage .fileUpload .uploadError {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: -20px;
  left: 5px;
  font-size: 13px;
}

.main .folderPage hr {
  margin-top: -5px;
  margin-bottom: 10px;
}

.main .folderPage .currentFolder {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .folderPage .currentFolder .folderHead{
  background-color: rgb(20, 55, 88);
  color:  rgb(215, 225, 225);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.main .folderPage .currentFolder .folderHead h3{
  font-weight: normal;
}

.main .folderPage .currentFolder .folderHead img{
  width: 25px;
  height: auto;
  filter: invert(1);
}

.main .folderPage .currentFolder > div {
  padding: 20px;
}

/* LOG-IN PAGE */

.main .logInForm {
  background-color: white;
  align-self: center;
  padding: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.main .logInForm div {
  display: flex;
  gap: 2px;
  flex-direction: column;
  font-size: 14px;
  position: relative;
}

.main .logInForm div label{
  font-family: "Lexend", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.main .logInForm input {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  padding: 2px 10px;
  width: 350px;
}

.main .logInForm button {
  margin-top: 10px;
  background-color: rgb(20, 55, 88);
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  color:  rgb(215, 225, 225);
}

.main .logInForm button:hover {
  cursor: pointer;
  background-color: rgb(5, 40, 73);
}

.main .logInForm .logInError {
  position: absolute;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 13px;
  bottom: -18px;
  right: 0px;
}

/* SIGN-UP PAGE */

.main .signUpForm {
  background-color: white;
  align-self: center;
  padding: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .signUpForm div {
  display: flex;
  gap: 2px;
  flex-direction: column;
  font-size: 14px;
}

.main .signUpForm div label {
  font-family: "Lexend", sans-serif;
  font-weight: normal;
}

.main .signUpForm span {
  font-size: 12px;
  font-weight: 300;
}

.main .signUpForm input {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  padding: 2px 10px;
  width: 350px;
}

.main .signUpForm button {
  margin-top: 10px;
  background-color: rgb(20, 55, 88);
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  color:  rgb(215, 225, 225);
}

.main .signUpForm button:hover {
  cursor: pointer;
  background-color: rgb(5, 40, 73);
}

.main .signUpForm .signUpError {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* FOOTER */

.footer {
  font-family: "Lexend", sans-serif;
  background-color: rgb(20, 55, 88);
  color: rgb(215, 225, 225);
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
